.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  transform: translateY(700px);
}
.btn {
  border: 1px solid rgb(223, 227, 230);
  border-collapse: collapse;
  min-width: 30px;
  height: 30px;
  background: none;
  color: rgb(29, 115, 249);
  padding: 2px;
  outline: none;
}
.btn:first-child {
  border-radius: 3px 0 0 3px;
}
.btn:last-child {
  border-radius: 0 3px 3px 0;
}
.btn:disabled {
  color: grey;
}
.activeBtn {
  background: rgb(29, 115, 249);
  color: white;
  border: none;
}
